<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Waste Tracker</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="head1">Food Waste Tracker
            <img src="../static/logo.png" width = "300px" height = "200px" alt="Food Tracker Banner">
        </h1>
    <nav>
        <a href="../Home.html">Home</a>
        <a href="Business_plan.html">Business Plan</a>
        <a href="Team_members.html">Team Members</a>
        <a href="Problem.html">Problem Statement & Solution</a>
    </nav>
    </header>
    <main class="Problem">
        <section class="Problem-statement">
            <h1>Problem Statement</h1>
            <article class="statement-content">
            
                <p> Our startup company wants to tackle the rising problem of food waste across the country and proposes a Food Waste Tracker.</p>
                    
                <p> Currently, restaurants are main contributors to food waste generated 22-33 billion pounds annually. </p>
                    
                <p>Food waste leads to landfill overflow, greenhouse emissions, and create issues globally. </p>

            </article>
            <h2>Problem Solution</h2>
            <article class="solution-content">
            
                <p> Our startup offers an AI-powered food waste tracking system designed to help restaurants minimize waste, cut costs, and operate more sustainably. </p>
                    
                <p> By leveraging smart sensors and POS systems, our solution identifies inefficiencies in food usage and provides actionable insights to optimize inventory and purchasing decisions.</p>

            </article>
        </section>
    </main>
</body>
</html>