<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Waste Tracker</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="head1">Food Waste Tracker
            <img src="../static/logo.png" width = "300px" height = "200px" alt="Food Tracker Banner">
        </h1>
        <nav>
            <a href="../Home.html">Home</a>
            <a href="Business_plan.html">Business Plan</a>
            <a href="Team_members.html">Team Members</a>
            <a href="Problem.html">Problem Statement & Solution</a>
    </nav>
    </header>
    <a href="../static/Deliverable 3-Business plan.pdf" id="Plan-PDF">Business Plan</a>
    <main class="Members"></main>
    <h2 id="memH2">Members</h2>
        <h3 id="margaret">Margaret Chai</h3>
        <main class="picture">
            <img src="../static/margaret.JPG" width="250px" height="350px" alt="margaret photo" id="margPhoto">
        </main>
        <article class="Margaret-Work">
            <p>Margaret worked on the Business problem and solution, and home page of the website, executive summary, market analysis, operations plan, 
            and conclusion for our Business Plan </p>
        </article>
        <h4 id="jullie">Jullie Cach</h4>
        <main class="picture">
            <img src="../static/jullie.jpeg" width="250px" height="350px" alt="jullie photo" id="julliePhoto">
        </main>
        <article class="Jullie-Work">
            <p>Jullie worked on the business plan aspect of the website and the team page. For the business plan she worked on
            overview and backgrand, marketing and sales strategy, and financial plan.</p>
        </article>

</body>
</html>